body{
    color:midnightblue;
    background-color: steelblue;
}
   
div{
    background-color: rgb(150, 225, 150);
    color:rgb(90, 0, 90);
    width: 400px;
    height: 200px;
    position: absolute;top: 200px;
    position: absolute;left: 200px;
}